<!DOCTYPE html>  
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Eje 1</title>
<link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
<!--Barra de Menu -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container-fluid">
          <a class="navbar-brand" href="/layout">Inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
  
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/gat">gato</a>
                </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/panr">panda rojo</a>
            </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/zor">zorro</a>
        </div>
  </div>
    </div>
  </nav>
   <br>
   <br>
 

{% block content %}
<br>
<br>
<p>holi</p>

{% endblock %}

  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
<section class="main" >
    
<section class="articles">
        <article>
            <h2>Gato  </h2>
            <br>
            <header id="text1">
            <p>El gato doméstico1​2​ (Felis silvestris catus), llamado más comúnmente gato, y de forma coloquial minino,3​ michino,4​ michi,5​ micho,6​ mizo,7​ miz,8​ morroño9​ o morrongo,10​ y algunos nombres más, es un mamífero carnívoro de la familia Felidae. Es una subespecie domesticada, por la convivencia con el ser humano, del gato montés.

                El nombre actual en muchas lenguas proviene del latín vulgar catus. Paradójicamente, catus aludía a los gatos salvajes, mientras que los gatos domésticos eran llamados felis.
                
                Como resultado de mutaciones genéticas, cruzamiento y selección artificial, hay numerosas razas. Algunas, como la raza sphynx o la peterbald están desprovistas de pelo; otras carecen de cola, como los gatos de la raza bobtail o la manx, y algunas tienen coloraciones atípicas, como los llamados gatos azules.
        </header>
            <br>
                <img src="/static/imagenes/gat1.jpg" width="150px" height="150">
                <img src="/static/imagenes/gat2.jpg" width="150px" height="150">
                <img src="/static/imagenes/gat3.jpg" width="150px" height="150">
           </p>
       </article>
        <article>
           <h2>Mas informacion </h2>
            <br>
            <header id="text2">
            <p>El gato se comunica a través de vocalizaciones. Las más populares son su característico maullido y el ronroneo, pero puede aullar, gemir, gruñir y bufar.11​ Además, adopta poses o expresiones que informan, a sus congéneres, sus enemigos o sus cuidadores, de su ánimo o sus intenciones.

                Junto con el perro, es el animal doméstico más popular, como mascota, como ayuda en la lucha contra roedores o ambas cosas. En el 2017, la población mundial estimada de gatos estaba en seiscientos millones de felinos. En esta cifra se incluyeron gatos que son mascota, gatos callejeros (sin hogar) y gatos salvajes; sumando solo los gatos silvestres alrededor de 100 millones. El país considerado hasta esa fecha que más felinos tiene como mascota es Estados Unidos. Rusia contaba con aproximadamente 23 millones de gatos domésticos en 2021 convirtiéndose en el país europeo con mayor población de este tipo de felinos.
            </header>
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> 1:Abrimos las 24 horas del dia
        <br>2:Atendemos 24 horas solo de lunes a sabado
        <br>3:Los domingos abrimos a las 9 y cerramos a las 2
        <br>4:Dias festivos la veterinaria esta cerrada

        <p>La actividad del veterinario se desarrolla también en otros sectores profesionales tales como el manejo y la gestión de núcleos zoológicos, de fauna silvestre y cinegética, de espacios naturales y de animalarios.
        También podrá llevar a cabo su labor en la realización, desarrollo y gestión de I+D+I en el sector público o en la industria químico-farmacéutica y agroalimentaria, en el desarrollo de proyectos de cooperación
        con otros países, en laboratorios de análisis, en la docencia y educación sanitaria, y en todos aquellos ámbitos para los que pudiera estar cualificado por su formación.
       
    </p>
      
</aside>
    
  
<footer>
    <p><a href="https://es.wikipedia.org/wiki/Felis_silvestris_catus" target="_blank">Fuentes</p>
</footer>
  
</body>
</html>