<!DOCTYPE html>  
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Eje 1</title>
<link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
<!--Barra de Menu -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container-fluid">
          <a class="navbar-brand" href="/layout">Inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
  
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/gat">gato</a>
                </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/panr">panda rojo</a>
            </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/zor">zorro</a>
        </div>
  </div>
    </div>
  </nav>
   <br>
   <br>
  

{% block content %}
<br>
<br>
<p>holi</p>

{% endblock %}

  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
<section class="main" >
    
<section class="articles">
        <article>
            <h2>Panda rojo  </h2>
            <br>
            <header id="text1">
            <p>El panda rojo es eclipsado por el gigante blanco y negro con el que comparte nombre. Suele ser del tamaño del gato doméstico, aunque su cola grande y espesa añade 46 centímetros a su cuerpo. Utiliza su anillada cola como manta para arroparse en las frías cumbres de las montañas.

                El panda rojo comparte hábitat (selvas de gran altitud) con el panda gigante, aunque está más extendido. Se encuentra en las montañas de Nepal y del norte de Birmania, así como en las regiones centrales de China.
                
                Este animal pasa la mayor parte del tiempo en los árboles, donde incluso duerme. Suele ser más activo por la noche, al atardecer y al amanecer, cuando sale en búsqueda de alimento.
                
                A los pandas rojos les encanta el bambú, aunque a diferencia de su gigante hermano, comen además frutas, bellotas, raíces y huevos. También tienen el hueso de la muñeca muy desarrollado, parece un pulgar, que les permite agarrarse a los árboles con más facilidad.
                
                Son animales tímidos y solitarios salvo en época de apareamiento. Las hembras suelen tener crías en primavera y en verano, normalmente entre una y cuatro. Los pandas jóvenes se quedan en su guarida hasta los 90 días, mientras sus madres cuidan de ellos. Los machos apenas se interesan por su descendencia.
        </header>
            <br>
                <img src="/static/imagenes/panr1.jpg" width="150px" height="150">
                <img src="/static/imagenes/panr2.jpg" width="150px" height="150">
                <img src="/static/imagenes/panr3.jpg" width="150px" height="150">
           </p>
       </article>
        <article>
           <h2>Mas informacion  </h2>
            <br>
            <header id="text2">
            <p>El panda rojo ha dado muchos quebraderos de cabeza a los científicos a la hora de clasificarlos. Se le ha considerado pariente del panda gigante pero también del mapache, con quien comparte su cola anillada. En la actualidad, se les ha clasificado como miembros de su propia familia (Ailuridae).
             El panda rojo está amenazado, víctima de la deforestación. Su hábitat se está reduciendo debido a la tala de árboles y a la agricultura.
            </p>
            </header>
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> 1:Abrimos las 24 horas del dia
        <br>2:Atendemos 24 horas solo de lunes a sabado
        <br>3:Los domingos abrimos a las 9 y cerramos a las 2
        <br>4:Dias festivos la veterinaria esta cerrada

        <p>La actividad del veterinario se desarrolla también en otros sectores profesionales tales como el manejo y la gestión de núcleos zoológicos, de fauna silvestre y cinegética, de espacios naturales y de animalarios.
        También podrá llevar a cabo su labor en la realización, desarrollo y gestión de I+D+I en el sector público o en la industria químico-farmacéutica y agroalimentaria, en el desarrollo de proyectos de cooperación
        con otros países, en laboratorios de análisis, en la docencia y educación sanitaria, y en todos aquellos ámbitos para los que pudiera estar cualificado por su formación.
       
    </p>
      
</aside>
    
  
<footer>
    <p><a href="https://www.nationalgeographic.es/animales/panda-rojo" target="_blank">Fuentes</p>
</footer>
  
</body>
</html>